body {
    background: aliceblue;
}

header {
    margin: auto;
    max-width: 1200px;
    text-align: center;
    background: black;
    border-radius: 20px;
}

button {
    border-radius: 5px;
    padding: 2px;
    color: black;
}


#header-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xxx-large;
    color: wheat;
}

.control-container {
    position: relative;
    margin-left: 10%;
    width:80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-container {
    font-size:15px;
    width: 20%;
    margin: 30px 20px;
    height: 250px;
    padding: 20px;
    float: left;
    border: 1px #BDBDBD solid;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    background: #fcfff6;
}

.content-features {
    width: 60%;
}

h1 {
    text-align: center;
    font-family: "Book Antiqua", sans-serif;
}

button {
    width: 150px;
    margin-top: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.laptop-container {
    text-align: center;
    width: 60%;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    height: 300px;

}

li {
    wrap-option: no-wrap;
    text-align: left;
}

.content-features {
    margin-top: 5px;
    width: 100%;
}


.laptop-content {
    font-size:15px;
    width: 40%;
    background: #fcfff6;
}

.image-container {
    width: 100%;
    height: 300px;
}